               <form id="verified_otp_pin" name="verified_otp_pin" method="post">
                    <div class="error-show error"></div>
                       <div id="error-show-request-form"></div>
                           <div class="clearfix m-t-10">
                               <input type="text" class="form-control" name="otp_pin" placeholder="PIN" required="required"/>
                               <div class="error_name error"></div>
                                   <input type="hidden" class="form-control" name="enquiry_id" value=""/>
                           </div>
                       <div class="clearfix m-t-10">
                           <button type="button" class="btn btn-orng pull-right" id="btn-owner" onclick="verified_otp_pin(this.form)">Verified</button>
                       </div>
                </form>