<!DOCTYPE html >
<html lang="en" data-ng-app="fxi">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>PlaywinFantasy Cricket | Play Real Fantasy Cricket | Play Fantasy Kabaddi | Play Fantasy Football </title>
  <meta name="description" content="Real Fantasy Cricket and Fantasy Football game online in India. Join Fantasy Sports @ PlaywinFantasy &amp; play football games and cricket games online to win cash daily. Play and earn points with family & friends while playing fun fantasy football, Kabaddi and cricket games online.">
  <meta name="keywords" content="Daily Fantasy Game, Play Fantasy Cricket, Fantasy Football, Fantasy Kabaddi, How to Play Fantasy Cricket, Fantasy Sports Online, Premier Contest, Fantasy Contest, Football challenge Friends, t20 Cricket, Live Cricket, Live Football, Indian Contest, Dreamteam">
  <!-- Bootstrap -->
  <link href="Front-End/css/bootstrap.min.css" rel="stylesheet">
  <link href="Front-End/images/fevicon1.png" rel="icon">
  <link href="Front-End/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet">

  <link href="Front-End/css/plugin.css" rel="stylesheet">
  <link href="Front-End/css/slick.css" rel="stylesheet">
  <link href="Front-End/css/jquery.mCustomScrollbar.css" rel="stylesheet">
  <link rel="stylesheet" href="Front-End/css/jquery-ui.css">
  <link href="Front-End/css/jk-star-rating.css" rel="stylesheet">
  <link href="Front-End/css/custom.css" rel="stylesheet">
  <link href="Front-End/css/responsive.css" rel="stylesheet">
  <script src="Front-End/js/modernizr-custom.js"></script> 
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- landing page includes starts -->

  <!-- <link type="text/css" rel="stylesheet" media="screen, print" href="Front-End/app/pages/signup/css/font.css" />
  <link rel="stylesheet" type="text/css" href="Front-End/app/pages/signup/css/1.css" media="screen"  />
  <link rel="stylesheet" type="text/css" href="Front-End/app/pages/signup/css/mystyle.css" media="screen"  /> -->
  <script type="text/javascript" class="instapage-noscrap">var ijQuery = jQuery.noConflict(true);</script>
  <script type="text/javascript" src="Front-End/app/pages/signup/css/j1.js"></script>

  <!-- landing page includes ends -->

  <!-- datepicker css start  --> 
  <link rel="stylesheet" href="Front-End/css/ngDatepicker.css">
  <script src="Front-End/js/moment-with-locales.min.js"></script> 
  <!-- <link href="Front-End/app/angular-modules/angularjs-datepicker/src/css/angular-datepicker.css" rel="stylesheet" type="text/css" /> -->
  <!-- datepicker css end  -->

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1771935956355702');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1771935956355702&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->

  <!-- Global site tag (gtag.js) - Google Analytics --> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112768391-1"></script> 
  <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-112768391-1'); </script>

</head>

<script>
  fbq('track', 'CompleteRegistration');
</script>

<body class="animsition">
 <ui-view></ui-view>
 <div loading style="position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(rgba(217, 171, 94, 0.5));z-index:99999">
   <div class="animsition-loading"></div>
 </div>
 
 <script src="Front-End/js/jquery.min.js"></script>
 <script src="Front-End/js/jquery-ui.js"></script>
 <script src="Front-End/js/jquery.mcustomScrollbar.min.js"></script>
 <script src="Front-End/app/angular-modules/angular.min.js"></script>
 <script src="Front-End/app/angular-modules/angular-ui-router.min.js"></script>
 <script src="Front-End/app/angular-modules/ngStorage.min.js"></script>
 <script src="Front-End/app/angular-modules/ui-bootstrap.js"></script>
 <script src="Front-End/js/angular-sanitize.js"></script>
 <script src="Front-End/js/angular-animate.min.js"></script>
 <script src="Front-End/js/angular-aria.min.js"></script>
 <script src="Front-End/js/angular-material.min.js"></script>
 <script src="Front-End/app/angular-modules/jk-star-rating.min.js"></script>

 

 <!-- <script src="Front-End/app/angular-modules/angularjs-datepicker/src/js/angular-datepicker.js"></script> -->
 <script src="Front-End/app/angular-modules/ng-file-upload-master/dist/ng-file-upload.min.js"></script> 
 <script src="Front-End/app/angular-modules/ng-file-upload-master/dist/ng-file-upload-shim.min.js"></script>

 <script src="Front-End/app/app.js"></script>
 <script src="Front-End/app/config.js"></script>
 <script src="Front-End/angularjs-social-login/angularjs-social-login.js"></script>
 <script src="Front-End/app/services/database.fac.js"></script>
 <script src="Front-End/app/directive/design-directive.lib.js"></script>
 <script src="Front-End/app/helper/helper.js"></script>

 <script src="Front-End/app/directive/validation.lib.js"></script>
 <script src="Front-End/app/pages/home/home.ctrl.js"></script>
 <script src="Front-End/app/pages/header-login/headerLogin.ctrl.js"></script>
 <script src="Front-End/app/pages/footer-login/footerLogin.ctrl.js"></script>
 <script src="Front-End/app/pages/header-home/header.ctrl.js"></script>
 <script src="Front-End/app/pages/footer-home/footer.ctrl.js"></script>
 <script src="Front-End/app/pages/login/login.ctrl.js"></script>
 <script src="Front-End/app/pages/signup/signup.ctrl.js"></script>
 <script src="Front-End/app/pages/signup/play.ctrl.js"></script>
 <script src="Front-End/app/pages/signup/thankyou.ctrl.js"></script>
 <script src="Front-End/app/pages/forget-password/forget-password.ctrl.js"></script>
 <script src="Front-End/app/pages/join/join.ctrl.js"></script>
 <script src="Front-End/app/pages/contest/contest.ctrl.js"></script>
 <script src="Front-End/app/pages/contest/inviteCode.ctrl.js"></script>
 <script src="Front-End/app/pages/team/team.ctrl.js"></script>
 <script src="Front-End/app/pages/paytm/paytm.ctrl.js"></script>
 <script src="Front-End/app/pages/terms-conditions/termsconditions.ctrl.js"></script>
 <script src="Front-End/app/pages/player_detail/player_detail.ctrl.js"></script>
 <script src="Front-End/app/pages/point_system/point_system.ctrl.js"></script>
 <script src="Front-End/app/pages/privacypolicy/privacy.ctrl.js"></script> 
 <script src="Front-End/app/pages/payment-mode/paymentmode.ctrl.js"></script>
 <script src="Front-End/app/pages/about-us/about.ctrl.js"></script>
 <script src="Front-End/app/pages/wallet/wallet.ctrl.js"></script>
 <script src="Front-End/app/pages/howtoplay/howtoplay.ctrl.js"></script>
 <script src="Front-End/app/pages/legality/legality.ctrl.js"></script>
 <script src="Front-End/app/pages/invite/invite.ctrl.js"></script>
 <script src="Front-End/app/pages/settings/settings.ctrl.js"></script>
 <script src="Front-End/app/pages/faqs/faqs.ctrl.js"></script>
 <script src="Front-End/app/pages/score-card/scorecard.ctrl.js"></script>
 <script src="Front-End/app/pages/carrier/carrier.ctrl.js"></script>
 <script src="Front-End/app/pages/testimonial/testimonial.ctrl.js"></script>
 <script src="Front-End/app/pages/contact-us/contact.ctrl.js"></script>
 <script src="Front-End/app/pages/team-score-card/teamscorecard.ctrl.js"></script>
 <script src="Front-End/app/pages/affiliate/affiliate.ctrl.js"></script>
 <script src="Front-End/app/pages/prediction/prediction.ctrl.js"></script>
 <script src="Front-End/app/pages/promotion/promotion.ctrl.js"></script>
 <script src="Front-End/app/pages/deposit/deposit.ctrl.js"></script>
  <script src="Front-End/app/pages/user-notification/notification.ctrl.js"></script>
 <script src="Front-End/app/pages/user-message/message.ctrl.js"></script>
<!--  <script id="bolt" src="https://sboxcheckout-static.citruspay.com/bolt/run/bolt.min.js" bolt-color="e34524" bolt-logo="http://localhost/fantasy_avishkar/uploads/app/1518587119_logoold.png" ></script> -->
 <script id="bolt" src="https://checkout-static.citruspay.com/bolt/run/bolt.min.js" bolt-color="e34524" bolt-logo="http://localhost/fantasy_avishkar/uploads/app/1518587119_logoold.png" ></script>
   
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="Front-End/js/bootstrap.min.js"></script>
    <script src="Front-End/js/plugin.js"></script>
    <script src="Front-End/js/slick.js"></script>
    <script src="Front-End/js/custom.js"></script>

    <!-- BEGIN JIVOSITE CODE {literal} -->
    <script type='text/javascript'>
    // (function(){ 
    //   setTimeout(function(){
    //     var widget_id = 'wcoDmsD4i9';var d=document;var w=window;function l(){
    //     var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}
    //   },2000);
    // })();

   /* $(document).ready(function(){
      window.onbeforeunload = function(){
        console.log('------------------fgfdgfg')
       
      }


      
    });*/
  </script>
  <!-- BEGIN JIVOSITE CODE {literal} -->
  <script type='text/javascript'>
  (function(){ var widget_id = 'lwmCEPK4u1';var d=document;var w=window;function l(){
  var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
  <!-- {/literal} END JIVOSITE CODE -->
    <!-- {/literal} END JIVOSITE CODE -->
  </body>
  </html>